[Desktop Entry]
Name=Kowalski Dragon Teacher
Name[sr@latin]=Kowalski Dragon Teacher
Name[x-test]=xxKowalski Dragon Teacherxx
X-KDE-PluginInfo-Name=Kowalski Dragon Teacher
X-KDE-PluginInfo-Author=Puzzoz
X-KDE-PluginInfo-License=CC-BY-SA-4.0
