[Desktop Entry]
Name=Kowalski Dragon Refsheet
Name[sr@latin]=Kowalski Dragon Refsheet
Name[x-test]=xxKowalski Dragon Refsheetxx
X-KDE-PluginInfo-Name=Kowalski Dragon Refsheet
X-KDE-PluginInfo-Author=Puzzoz
X-KDE-PluginInfo-License=CC-BY-SA-4.0
